.__container-centered{
    max-width: 800px;
}

.rule-left,
.rule-right{
    width: 100px;
    background-color: white;
    height: 3px;
}

.__nav{
    background-color: #2C3E50;
}

.nav-link{
    font-size: 0.8em;
}

.__green-back{
    background-color: #1ABC9C;
}

.about button{
    font-size: 0.8em;
}

.contact-me button{
    background-color: #1ABC9C;
    font-size: 0.8em;
}

.__green-color{
    color: #1ABC9C;
}

.address{
    font-size: 0.8em;
}

.footer-top{
    background-color: #3A546D;
}

footer .btn-outline-light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-bottom{
    background-color: #2C3E50;
    font-size: 0.6em;
}

