.__container-centered{
    max-width: 800px;
}

.rule-star i{
    font-size: 1.4em;
    color: #2C3E50;
}

.rule-left,
.rule-right{
    width: 100px;
    border-radius: 4px;
    background-color: white;
    height: 3px;
}

.__dark{
    background-color: #2C3E50;
}

.__nav{
    background-color: #2C3E50;
}

.nav-link,
.about button,
.address{
    font-size: 0.8em;
}

.__green-back{
    background-color: #1ABC9C;
}

.about p{
    font-size: 0.9em;
}

.contact-me button{
    background-color: #1ABC9C;
    font-size: 0.8em;
}

.portfolio h2,
.contact-me h2,
.form-control::placeholder {
    color: #333333;
}

.__green-color{
    color: #1ABC9C;
}

.footer-top{
    background-color: #3A546D;
}

footer .btn-outline-light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-bottom{
    background-color: #2C3E50;
    font-size: 0.7em;
}

